
.background-proyect-container {
    width: 560px;
    height: 485px;
    border-radius: 40px;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.81) 0%, rgba(22, 22, 22, 0.80) 100%);
    margin:30px auto;
}

.proyect-container {
    max-width: 85%;
    margin-left:40px;
    margin-top:0px;
    padding:0;
}

.h3-title {
    color: #FFF;
    text-align: left;
    font-family: Karla,sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin:20px 0px;
}

.symbols-container {
    display:flex;
    gap:9px;
    margin:20px 4px;
}

.symbols-container img {
    width:40px;
    height:auto;
}

/* I modify the react symbol */
.symbols-container .reactSymbol {
    width:50px;
}

/* I modify the bootstrap symbol */

.symbols-container .bootstrapSymbol {
    width: 55px;
}

.proyect-img-container,.proyect-img {
    position: relative;
    overflow: hidden;
    width: 475px;
    height: 230px;
}

.proyect-img-container {
    display:flex;
    align-items: center;
    justify-content: center;
}

.proyect-container h4 {
    position: absolute;
    font-size: 40px;
    color:#ffffff00;
    transition:color 0.5s;
    user-select: none;
}

.proyect-img {
    width:100%;
    height:auto;
    transition: transform 0.7s, filter 0.7s;
}

.proyect-img-container:hover .proyect-img{
    filter:brightness(0.5);
    transform: scale(1.15);
    background-color: rgb(0, 0, 0);
}

.proyect-container .proyect-img-container:hover h4 {
    color: #FFF;
}

.proyect-buttons-container {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:20px 0px;
    gap:20px;
}

.proyect-buttons-container a{
    display:flex;
    width: 210px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff00;
    border: 1px solid #FFF;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s;
    cursor:pointer;
}

.proyect-buttons-container a p{
    font-size: 40px;
    font-weight:400;
    margin:0;
    text-align: center;
    font-family: Karma;
    color:#FFF;
    transition: all 0.3s;
}

.proyect-buttons-container a:hover {
    background-color: #FFF;
}

.proyect-buttons-container a:hover p{
    color:#1B1B32;
}

@media (max-width:700px){
    .background-proyect-container {
        width: 80vw;
        height: 71vw;
        margin:5vw auto;
        border-radius: 7vw;
    }

    .proyect-container {
        max-width: 85%;
        margin-left:5.8vw;
    }

    .proyect-container .h3-title {
        font-size: 7vw;
        margin:3vw 0px;
    }

    .symbols-container {
        margin:3vw 0.5vw;
    }
    

    .symbols-container img {
        width:6vw;
    }
    
    /* I modify the react symbol */
    .symbols-container .reactSymbol {
        width:7.5vw;
    }

    .proyect-img-container,.proyect-img {
        width: 68vw;
        height: 33vw;
    }
    
    .proyect-container h4 {
        font-size: 6vw;
    }

    
    .proyect-buttons-container {
        margin:3vw 0px;
        gap:2.8vw;
    }

    .proyect-buttons-container a {
        width: 30vw;
        height: 7.5vw;
        border-radius: 1.5vw;
    }

    .proyect-buttons-container a p {
        font-size: 6vw;
    }
}
