.skill-list-container {
    display:flex;
    width: auto;
    align-items: center;
    justify-content: center;
}

.technologies-skill-list-container,
.design-skill-list-container {
    width:auto;
    max-width: 800px;
    height: 300px;
    margin-top:40px;
}

.technologies-skill-list-container {
    margin-left:4%;
    margin-right: 30px;
}

.design-skill-list-container {
    min-width: 550px;
    margin-right: 2%;
}

.skills {
    display:flex;
    flex-wrap: wrap;
    gap:30px;
    margin-top: 30px;
}

@media (max-width:1200px){
    .skill-list-container {
        width: 100%;
        height: auto;
        align-items: flex-start;
        flex-direction: column;
        gap:0;
    }

    .skill-list-container .h3-title {
        font-size: 4vw;
    }

    .technologies-skill-list-container,
    .design-skill-list-container {
        height: auto;
        width:90%;
        max-width: none;
        margin-left: 5%;
    }

    .technologies-skill-list-container{
        margin-top: 4vw;
    }

    .design-skill-list-container {
        margin-top: 0px;
        height: auto;
        margin-top: none;
    }

    .skills {
        margin-top: 2vw;
        gap:2vw;
    }

}
