html {
  scroll-behavior: smooth;
}

.App{
  background-color: #2a2a4a;
  /* background-color: #1B1B32; */
}

section {
  width: 100%;
}

#home-section {
  display:flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh; /* For degrade effect */
  margin-bottom:50px;
}

.capa{
  position:absolute;
  width: 100%;
  height: 110vh;        /* For degrade effect */
  background-color: #2a2a4abe;
  top:0;
  z-index: 2;
}

video {
  position: absolute;
  width:100%;
  height: 110vh;
  object-fit: cover;
  object-position: 20% 20%;
  top:0;
  z-index: 1;
}

.mainText-container {
  height:auto;
  font-size: 50px;
  text-align: center;
  color:rgb(255, 255, 255);
  z-index: 3;
} 

/* Color gradient between the img of home page and the project page */
#color-gradient1 {
  position:absolute;
  width: 100%;
  height: 180px;
  top:-229px;
  background-image: linear-gradient(#2a2a4a00,#2a2a4a);
  z-index: 4;
}

.title-section {
  margin:0px 0px 80px 0px;
  font-size: 50px;
  font-family: Karla,sans-serif;
  color:rgb(255, 255, 255);
  text-align: center;
}

.section-separation {
  height: auto;
  padding:80px 0px 50px 0px;
}

#proyects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position:relative;
}

/* Color gradient between the proyects section and the about me section */
#color-gradient2 {
  position:absolute;
  width: 100%;
  height: 100px;
  bottom:0px;
  background-image: linear-gradient(to bottom,#2a2a4a00,rgb(33, 33, 57));
}
/*  */

#contact-section {
  display:flex;
  height: auto;
  align-items:end;
  padding-bottom: 30px;
  background-color: rgba(33, 33, 57);
}

@media (max-width:700px){
  #home-section {
    margin-bottom: 10px;
  }

  #color-gradient1 {
    top:-30vw;
    height: 30vw;
  }

  #color-gradient2 {
    height: 10vw;
  }

  .section-separation {
    padding:9vw 0px 0px 0px;
  }
}